.row {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 12px;
    margin-bottom: 10px;
    align-items: center;
}

.label {
    font-weight: 600;
    color: var(--foreground);
}

.input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--card-border);
    background: var(--background);
}

.footerLeft {
    display: flex;
    align-items: center;
}

.footerRight {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid var(--card-border);
    background: var(--background);
    cursor: pointer;
    font-weight: 700;

    &:disabled {
        background-color: var(--read-only-bg);
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background: var(--foreground);
        color: var(--background);
    }
}

.dangerBtn {
    border: 1px solid var(--danger-fg);
    background: var(--card-bg);
    color: var(--danger-fg);
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    border-radius: 8px;

    &:hover {
        background: var(--danger-fg);
        color: var(--danger-bg);
    }
}